<a name="architecture"></a>
- [Back to Contents](#contents)

![Image Alt Text](https://drive.google.com/uc?id=1arqjEazeRTJ8YJm48m3DmpNgRH334HFb)

<a name="contents"></a>
# Contents: 
- [Demo Architecture](#architecture)
- [Step 1: Bring data from Mongo to SingleStore](#mongo_to_s2)
- [Step 2: Analyical performance on json: SingleStore Kai vs Mongo](#kai_vs_mongo)
- [Step 3: Bring news_feeds to SingleStore](#news)
- [Step 4: Building the Chatbot: Create embeddings on Openai](#getembedding)
- [Step 5: UI - Voice recognition to sql queries](#voice_recognition)
- [Conclusion](#conclusion)

# Install required packages

In [624]:
!pip install openai --quiet
!pip install matplotlib --quiet
!pip install scipy --quiet
!pip install scikit-learn --quiet
!pip install singlestoredb --quiet
!pip install langchain --quiet
!pip install pymongo --quiet

<a name="mongo_to_s2"></a>
- [Back to Contents](#contents)
# Step 1: Bring data from Mongo to SingleStore

### Example row

```json
{'close': 41.075, 
 'datetime': {
     '$date': '2017-01-31T13:44:00.000Z'
     }, 
 'high': 41.075, 
 'low': 41.066, 
 'open': 41.066, 
 'ticker': 'AMZN', 
 'volume': 22440}
```

```python
import pymongo
from pymongo import MongoClient
import pandas as pd

# create connections to mongo & s2
myclientmongodb = pymongo.MongoClient("mongodb+srv://daviddaeshinlee:Password123!@genai-demo-dlee.56ode.mongodb.net/?retryWrites=true&w=majority")
s2clientmongodb = pymongo.MongoClient("mongodb://admin:Password123!@svc-39644b79-076a-44e6-8b7f-d6415f18d4c8-mongo.aws-virginia-6.svc.singlestore.com:27017/?authMechanism=PLAIN&tls=true&loadBalanced=true")

# 
mongodb_db = myclientmongodb["test"]
mongocollection = mongodb_db["stock_data_updated"]

s2_db = s2clientmongodb["ai_demo"]
s2table = s2_db["mongo_json"]

df = pd.DataFrame(list(mongocollection.find()))
df.reset_index(drop=True, inplace=True)
data_dict = df.to_dict("records")
s2table.insert_many(data_dict)
```

#### Note: For now we are inserting records from df to S2.  Soon we will be able to use mongo to s2 pipelines

In [632]:
%%sql
select * from mongo_json limit 2

+--------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------+
|                 _id                  |                                                                         _more                                                                          |                 $_id                |
+--------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------+
| {'$oid': '64c07bbac5ca13a7829d5c8c'} | {'close': 41.075, 'datetime': {'$date': '2017-01-31T13:44:00.000Z'}, 'high': 41.075, 'low': 41.066, 'open': 41.066, 'ticker': 'AMZN', 'volume': 22440} | {"$oid":"64c07bbac5ca13a7829d5c8c"} |
| {'$oid': '64c07bbac5ca13a7829d5ca8'} | {'close': 41.069, 'datetime': {'$date': '2017-01-31T13:16:00.000Z'}, 'high': 41.072, 'low': 41.058, 'open': 41.059, 'ticker': 'AMZN', 'volume': 39520} | {"$oid":"64c07bbac5ca13a7829d5ca8"} |
+--------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------+-------------------------------------+

<a name="kai_vs_mongo"></a>
- [Back to Contents](#contents)
# Step 2: Analyical performance on JSON: SingleStore Kai vs mongo

In [639]:
import pymongo
from pymongo.mongo_client import MongoClient
import requests
import time
import datetime

# create connections to mongo & s2
myclientmongodb = pymongo.MongoClient("mongodb+srv://daviddaeshinlee:Password123!@genai-demo-dlee.56ode.mongodb.net/?retryWrites=true&w=majority")
s2clientmongodb = pymongo.MongoClient("mongodb://admin:Password123!@svc-39644b79-076a-44e6-8b7f-d6415f18d4c8-mongo.aws-virginia-6.svc.singlestore.com:27017/?authMechanism=PLAIN&tls=true&loadBalanced=true")

# Connect to collection of interest
mongodb_db = myclientmongodb["test"]
mongocollection = mongodb_db["stock_data_updated"]


s2_db = s2clientmongodb["ai_demo"]
s2table = s2_db["mongo_json"]

loopcount = 1

# Assuming you have already initialized s2clientmongodb and s2_db elsewhere

def list_avg(lst):
    if len(lst) == 0:
        return 0  # Return 0 or any other default value based on your requirement
    avg_val = round(sum(lst) / len(lst), 2)
    return avg_val

def avg_response_time(num_iterations, query):
    mongo_times = []
    s2_times = []
    mongo_result = None
    s2_result = None

    for i in range(num_iterations):
        # For mongo collection
        mg_start_time = time.time()
        mg_cursor = mongocollection.aggregate(query, allowDiskUse=True)
        # Convert cursor to a list to execute the aggregation and measure time
        mongo_result = list(mg_cursor)
        mg_stop_time = time.time()
        mongo_times.append(mg_stop_time - mg_start_time)

        # For s2table collection
        s2_start_time = time.time()
        s2_cursor = s2table.aggregate(query, allowDiskUse=True)
        # Convert cursor to a list to execute the aggregation and measure time
        s2_result = list(s2_cursor)
        s2_stop_time = time.time()
        s2_times.append(s2_stop_time - s2_start_time)
    
    mongo_avg = list_avg(mongo_times)
    s2_avg = list_avg(s2_times)
    factor_improvement = round(mongo_avg / s2_avg, 2)
    
    print('Mongo result: {}'.format(mongo_result))
    print('SingleStore result: {}'.format(s2_result))
    
    print("Mongo Avg Response Time: {}".format(mongo_avg))
    print("S2 Avg Response Time: {}".format(s2_avg))
    print("Factor Improvement: {}".format(factor_improvement))


# count_documents
records = mongocollection.count_documents({})
print(f'Number of records in Mongo: {records}')

s2records = s2table.count_documents({})
print(f'Number of records in SingleStore: {s2records}')

Number of records in Mongo: 6079529
Number of records in SingleStore: 6079529

### Query 1: Average price for a specific ticker between two dates

In [643]:
# average price for a specific ticker between two dates
print("Query 1")
print("")

from datetime import datetime

start_date = datetime(2020, 12, 20)
end_date = datetime(2021, 5, 30)

query_1 = [
    {
        "$match": {
            "ticker": "AMZN",
            "datetime": {
                "$gte": start_date,
                "$lt": end_date
            }
        }
    },
    {
        "$group": {
            "_id": "$ticker",
            "averagePrice": {"$avg": "$close"}
        }
    },
    {
        "$project": {
            "_id": 0,
            "ticker": "$_id",
            "averagePrice": 1
        }
    }
]

avg_response_time(loopcount, query_1)

Query 1

Mongo result: [{'averagePrice': 161.57093191244238, 'ticker': 'AMZN'}]
SingleStore result: [{'averagePrice': 161.5709319124425, 'ticker': 'AMZN'}]
Mongo Avg Response Time: 4.54
S2 Avg Response Time: 1.48
Factor Improvement: 3.07

### Query 2: Count of records grouped by ticker

In [645]:
# Query 2: groups the documents in the collection by their 'ticker' values and calculates the total number of documents (rows) associated with each 'ticker'.
print("Query 2")
print("")

query_2 = [{'$group': {'_id': '$ticker', 'total_rows': { '$sum': 1 }}}]

avg_response_time(loopcount, query_2)

Query 2

Mongo result: [{'_id': 'MSFT', 'total_rows': 2685573}, {'_id': 'GOOG', 'total_rows': 909215}, {'_id': 'AMZN', 'total_rows': 2484741}]
SingleStore result: [{'_id': 'AMZN', 'total_rows': 2484741}, {'_id': 'MSFT', 'total_rows': 2685573}, {'_id': 'GOOG', 'total_rows': 909215}]
Mongo Avg Response Time: 4.66
S2 Avg Response Time: 0.45
Factor Improvement: 10.36

### Query 3: Average high grouped by ticker

In [70]:
# average high grouped by ticker
print("Query 3")
print("")

query_3 = [
    {
        "$group": {
            "_id": "$ticker",
            "averageHigh": {"$avg": "$high"}
        }
    },
    {
        "$project": {
            "_id": 0,
            "ticker": "$_id",
            "averageHigh": 1
        }
    }
]

avg_response_time(loopcount, query_3)

Query 3

Mongo result: [{'averageHigh': 64.65953091952949, 'ticker': 'GOOG'}, {'averageHigh': 40.23753506180322, 'ticker': 'AMZN'}, {'averageHigh': 73.19654661332982, 'ticker': 'MSFT'}]
SingleStore result: [{'averageHigh': 40.23753506180316, 'ticker': 'AMZN'}, {'averageHigh': 73.1965466133343, 'ticker': 'MSFT'}, {'averageHigh': 64.65953091952908, 'ticker': 'GOOG'}]
Mongo Avg Response Time: 6.72
S2 Avg Response Time: 0.52
Factor Improvement: 12.92

<a name="news"></a>
- [Back to Demo Architecture](#architecture)
# Step 3: Bring news feeds to SingleStore

Create table to store embeddings 
```sql
%%sql
create table embeddings (
    `id` int auto_increment primary key,
    `category` varchar(255),
    `question` longtext,
    `question_embedding` longblob,
    `answer` longtext,
    `answer_embedding` longblob,
    `created_at` datetime
    );
```

```python
## functions parse articles and chunk the text
def parse_title_summary_results(results):
    out = []
    for e in results:
        e = e.replace('\n', '')
        out.append(e)

    return out

def summarize_stage_1(chunks_text):

    # Prompt to get title and summary for each chunk
    map_prompt_template = """Pretend you're a financial analyst. Given the following text, give me a prompt that would output this answer: {text}"""
    map_prompt = PromptTemplate(template=map_prompt_template, input_variables=["text"])

    # Define the LLMs
    map_llm = OpenAI(temperature=0, model_name = 'text-davinci-003')
    map_llm_chain = LLMChain(llm = map_llm, prompt = map_prompt)
    map_llm_chain_input = [{'text': t} for t in chunks_text]
    # Run the input through the LLM chain (works in parallel)
    map_llm_chain_results = map_llm_chain.apply(map_llm_chain_input)

    return map_llm_chain_results

def get_embedding(text, model=model):
    text = text.replace("\n", " ")
    return openai.Embedding.create(input = [text], model=model)['data'][0]['embedding']

## Script Start ##

# Pull data from API, then chunk it and insert into a dataframe
companies = ['Amazon']

article_id_values = []
url_values = []
pubdate_values = []
description_values = []
summary_values = []
content_values = []
companies_name_values = []
    
for company in companies:
    
    print(company)
    url = "http://api.goperigon.com/v1/all?apiKey=<APIKEY_GOES_HERE>&country=us&sourceGroup=top25finance&excludeSource=benzinga.com&showReprints=false&paywall=false&language=en&companyName=" + company + "&medium=Article?&excludeLabel=Non-news&excludeLabel=Opinion&excludeLabel=PaidNews&excludeLabel=Roundup&language=en&medium=Article"
    resp = requests.get(url)

    article_json = resp.json()["articles"]
    
    for article in article_json:
        # Chuck article on every 1,000 characters
        full_content = article['content']
        n_characters = len(full_content)
        chunk_size = 1000
        n_chunks = n_characters//chunk_size + 1

        i = 0
        while i < chunk_size * n_chunks:
            new_chunk = full_content[i:i+chunk_size]
            content_values += [new_chunk]
            i += chunk_size
        
        # Insert values into lists
        article_id_values += n_chunks * [article['articleId']]
        url_values += n_chunks * [article['url']]
        pubdate_values += n_chunks * [article['pubDate']]
        description_values += n_chunks * [article['description']]
        summary_values += n_chunks * [article['summary']]
        companies_name_values += n_chunks * [company]

# Convert group of lists into a dataframe
data_dict = {'article_id':article_id_values, 'url':url_values, 'pubdate':pubdate_values, 
             'description':description_values, 'summary':summary_values, 'content':content_values, 
             'company':companies_name_values}
    
df = pd.DataFrame(data_dict)
    
# Get prompts for each chuck, clean results from Open AI then add new "prompt" column
content_chunks = df[['content']].values.tolist()
stage_1_outputs = summarize_stage_1(content_chunks)

prompts = parse_title_summary_results([e['text'] for e in stage_1_outputs])
df['question'] = prompts

# get the vector embedding for the prompt & content chuck then add to dataframe
prompt_embedding = []
chunk_embedding = []

for i in range(len(prompts)):

    prompt = prompts[i]
    prompt_embedding.append(get_embedding(prompt, model=model))
    
    content_chunk = content_chunks[i][0]
    chunk_embedding.append(get_embedding(content_chunk, model=model))

df['question_embedding'] = prompt_embedding
df['answer_embedding'] = chunk_embedding

# Clean dataframe before inserting into S2
new_df = df[['article_id', 'question', 'question_embedding', 'content', 'answer_embedding', 'pubdate', 'company']]
new_df['pubdate'] = pd.to_datetime(new_df['pubdate'], format='%Y-%m-%dT%H:%M:%S')
new_df['pubdate'] = new_df['pubdate'].dt.strftime("%Y-%m-%d %H:%M:%S")

# Insert to SingleStore
table_name = 'embeddings'
mystmt = "INSERT INTO {} (category, question, question_embedding, answer, answer_embedding, created_at) VALUES ('{}', '{}', json_array_pack('{}'), '{}', json_array_pack('{}'), '{}');"

for i in range(len(new_df)):

    stmt = mystmt.format(table_name, new_df['company'][i],new_df['question'][i].replace("'",""), new_df['question_embedding'][i], new_df['content'][i].replace("'",""), new_df['answer_embedding'][i], new_df['pubdate'][i])
    print(stmt)
    
    with engine.connect() as conn:
                        conn.execute(stmt)
```

### Example output:

INSERT INTO test (category, question, question_embedding, answer, answer_embedding, created_at) VALUES ('Amazon', 'What has been the impact of reduced economic growth and consumer spending on air cargo rates?', json_array_pack('[-0.009395750239491463, -0.03367690369486809, 0.03697597235441208, -0.011104668490588665, 0.002715134294703603,...'

### Example rows from a news article chunk:

In [695]:
%%sql
select category, question, answer, created_at from embeddings where category="Amazon" limit 1

+----------+------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------+
| category |                                   question                                   |                                                                                                                  answer                                                                                                                 |      created_at     |
+----------+------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------+
|  Amazon  | What was the outcome of Amazons commitment to become "Earths Best Employer"? | mmitted to become "Earths Best Employer," adding it to its list of corporate values, even as labor unrest intensified. The executive tasked with overseeing that effort, Pam Greer, departed Amazon last April, according to Bloomberg. | 2023-05-25 22:10:01 |
|          |                                                                              |                                                                                                                                                                                                                                         |                     |
|          |                                                                              |                                                                      WATCH: Inside the rapid growth of Amazon Logistics and how its taking on third-party shipping                                                                      |                     |
+----------+------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+---------------------+

<a name="getembedding"></a>
- [Back to Demo Architecture](#architecture)
# Step 4: Building the chatbot: Create embeddings on open ai

### Get Stock table to work with the Python UI

```sql
%%sql
CREATE TABLE `stock_table` (
`ticker` varchar(20) CHARACTER SET utf8 COLLATE utf8_general_ci DEFAULT NULL,
`created_at` datetime DEFAULT NULL,
`open` float DEFAULT NULL,
`high` float DEFAULT NULL,
`low` float DEFAULT NULL,
`close` float DEFAULT NULL,
`volume` int(11) DEFAULT NULL,
SORT KEY (ticker, created_at desc),
SHARD KEY (ticker)
);
```

### Parse mongo_json table into the stock_table to work well with the Langchain SQLDatabaseAgent
```sql
%%sql
insert into stock_table 
select _more::$ticker, replace(right(left(_more::datetime::`$date`,24),23),"T"," "):>DATETIME, _more::open, _more::high, _more::low, _more::close, _more::volume  
from mongo_json
```

In [456]:
%%sql
select * from stock_table limit 5

+--------+---------------------+---------+---------+---------+---------+--------+
| ticker |      created_at     |   open  |   high  |   low   |  close  | volume |
+--------+---------------------+---------+---------+---------+---------+--------+
|  GOOG  | 2021-09-03 13:52:00 | 145.194 | 145.208 | 145.186 | 145.208 | 10000  |
|  GOOG  | 2021-07-07 15:22:00 | 130.091 | 130.102 | 130.012 | 130.012 | 28060  |
|  MSFT  | 2015-11-18 14:29:00 |  47.793 |  47.871 |  47.735 |  47.815 | 53237  |
|  MSFT  | 2014-04-25 09:54:00 |  34.373 |  34.42  |  34.243 |  34.36  | 358423 |
|  GOOG  | 2021-08-27 15:49:00 | 144.908 | 144.907 | 144.805 | 144.805 | 28340  |
+--------+---------------------+---------+---------+---------+---------+--------+

# ChatGPT to SingleStore connection

In [722]:
# Enter you Openai api_key
import getpass

apikey = getpass.getpass("Enter openai apikey here")

Enter openai apikey here ········

In [918]:
%%sql
show tables

+-------------------+
| Tables_in_ai_demo |
+-------------------+
|  __mongo_proxy_rw |
|     embeddings    |
|     mongo_json    |
|    stock_table    |
+-------------------+

In [921]:
import openai
import os
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, Column, Integer, String, BLOB, JSON
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
from datetime import datetime
from openai.embeddings_utils import get_embedding
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain.llms.openai import OpenAI
from langchain.agents import AgentExecutor
import warnings

warnings.filterwarnings("ignore", category=FutureWarning)

# Set the maximum number of rows and columns to display
pd.set_option('display.max_rows', 1000)  
pd.set_option('display.max_columns', 1000)

os.environ["OPENAI_API_KEY"] = apikey
openai.api_key = os.environ["OPENAI_API_KEY"]

user = 'admin'
password = 'Password123!'
host = 'svc-39644b79-076a-44e6-8b7f-d6415f18d4c8-dml.aws-virginia-6.svc.singlestore.com'
port = 3306
database = 'ai_demo'
table_name = 'embeddings'
model = 'text-embedding-ada-002'
engine = create_engine(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}")

# Create the agent executor
db = SQLDatabase.from_uri(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}", include_tables=['embeddings', 'stock_table'],sample_rows_in_table_info=1)
llm = OpenAI(openai_api_key=os.environ["OPENAI_API_KEY"], temperature=0, verbose=True)
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

agent_executor = create_sql_agent(
    llm=OpenAI(temperature=0),
    toolkit=toolkit,
    verbose=False,
    prefix= '''
    You are an agent designed to interact with a SQL database called SingleStore. This sometimes has Shard and Sort keys in the table schemas, which you can ignore. 
    \nGiven an input question, create a syntactically correct MySQL query to run, then look at the results of the query and return the answer. 
    \n If you are asked about similarity questions, you should use the DOT_PRODUCT function.
    
    \nHere are a few examples of how to use the DOT_PRODUCT function:
    \nExample 1:
    Q: how similar are the questions and answers?
    A: The query used to find this is:
    
        select question, answer, dot_product(question_embedding, answer_embedding) as similarity from embeddings;
        
    \nExample 2:
    Q: What are the most similar questions in the embeddings table, not including itself?
    A: The query used to find this answer is:
    
        SELECT q1.question as question1, q2.question as question2, DOT_PRODUCT(q1.question_embedding, q2.question_embedding) :> float as score
        FROM embeddings q1, embeddings q2 
        WHERE question1 != question2 
        ORDER BY score DESC LIMIT 5;
    
        
    \nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results.
    \nYou can order the results by a relevant column to return the most interesting examples in the database.
    \nNever query for all the columns from a specific table, only ask for the relevant columns given the question.
    \nYou have access to tools for interacting with the database.\nOnly use the below tools. 
    Only use the information returned by the below tools to construct your final answer.
    \nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again up to 3 times.
    \n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.
    \n\nIf the question does not seem related to the database, just return "I don\'t know" as the answer.\n,
    
    ''',
    format_instructions='''Use the following format:\n
    \nQuestion: the input question you must answer
    \nThought: you should always think about what to do
    \nAction: the action to take, should be one of [{tool_names}]
    \nAction Input: the input to the action
    \nObservation: the result of the action
    \n... (this Thought/Action/Action Input/Observation can repeat 10 times)
    \nThought: I now know the final answer
    \nFinal Answer: the final answer to the original input question\n
    \nSQL Query used to get the Answer: the final query used for the final answer',
    ''',
    top_k=5,
    max_iterations=10
)

/opt/conda/lib/python3.10/site-packages/langchain/utilities/sql_database.py:111: SAWarning: Unknown schema content: '  SORT KEY `__UNORDERED` ()'
  self._metadata.reflect(
/opt/conda/lib/python3.10/site-packages/langchain/utilities/sql_database.py:111: SAWarning: Unknown schema content: '  , SHARD KEY () '
  self._metadata.reflect(

# Get embeddings for your question and answer then send to SingleStore

In [922]:
def get_embedding(text, model=model):
   text = text.replace("\n", " ")
   return openai.Embedding.create(input = [text], model=model)['data'][0]['embedding']

def insert_embedding(question):
    category = 'chatbot'
    question_embedding = get_embedding(question, model=model)
    answer = agent_executor.run(question)
    answer_embedding = get_embedding(answer, model=model)
    created_at = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

    # add questions and answer embeddings to a dataframe
    df = pd.DataFrame(columns=['category','question','question_embedding','answer', 'answer_embedding', 'created_at'])
    new_row = {'category':category, 'question':question, 'question_embedding':question_embedding,'answer':answer, 'answer_embedding':answer_embedding, 'created_at':created_at }
    df = df.append(new_row, ignore_index=True)
    print(new_row["answer"])
    
    # send to SingleStore
    mystmt = "INSERT INTO {} (category, question, question_embedding, answer, answer_embedding, created_at) VALUES ('{}','{}', json_array_pack('{}'), '{}', json_array_pack('{}'), '{}')"

    for i in range(len(df)):
        stmt = mystmt.format(table_name, df['category'][i],df['question'][i].replace("'",""), df['question_embedding'][i], df['answer'][i].replace("'",""), df['answer_embedding'][i], df['created_at'][i])
        with engine.connect() as conn:
                            conn.execute(stmt)

# Ask your database a question

In [923]:
question = 'How many distinct stock tickers are there and what are they?'
insert_embedding(question)

There are 3 distinct stock tickers: AMZN, MSFT, and GOOG.
SQL Query used to get the Answer: SELECT DISTINCT ticker FROM stock_table

In [765]:
# how similar are the questions and answers
question = f'Which datetime had the highest trading volume for Amazon stock?'
insert_embedding(question)

The datetime with the highest trading volume for Amazon stock is 2012-05-16 08:08.
SQL Query used to get the Answer: SELECT created_at, MAX(volume) FROM stock_table WHERE ticker = 'AMZN'

In [736]:
question = f'what are the most similar questions in the {table_name} table, not including itself?'
insert_embedding(question)

The most similar questions in the embeddings table, not including itself, are:
1. What impact has Amazons decision to curtail expenses had on air cargo demand? and What impact has Amazons investment in air cargo had on the industry?
2. What impact has Amazons investment in air cargo had on the industry? and What impact has Amazons decision to curtail expenses had on air cargo demand?
3. What has been the impact of reduced economic growth and consumer spending on air cargo rates? and What impact has the rebound in air travel had on air cargo rates?
4. What impact has the rebound in air travel had on air cargo rates? and What has been the impact of reduced economic growth and consumer spending on air cargo rates?
5. What impact has the rebound in air travel had on air cargo rates? and What has been the impact of reduced economic growth and consumer spending on air cargo rates?

SQL Query used to get the Answer: SELECT q1.question as question1, q2.question as question2, DOT_PRODUCT(q1.question_embedding, q2.question_embedding)

# Verify the queries work in SingleStore

In [761]:
%%sql
# How many distinct stock tickers are there and what are they?
SELECT DISTINCT ticker FROM stock_table

+--------+
| ticker |
+--------+
|  AMZN  |
|  MSFT  |
|  GOOG  |
+--------+

In [877]:
%%sql
# what are the most similar questions in the embeddings table, not including itself?
SELECT q1.question as question1, q2.question as question2, DOT_PRODUCT(q1.question_embedding, q2.question_embedding) :> float as score FROM embeddings q1, embeddings q2 WHERE question1 != question2 ORDER BY score DESC LIMIT 5;

+-------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------+----------+
|                                   question1                                   |                                           question2                                           |  score   |
+-------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------+----------+
|      What impact has Amazons investment in air cargo had on the industry?     |         What impact has Amazons decision to curtail expenses had on air cargo demand?         | 0.954826 |
| What impact has Amazons decision to curtail expenses had on air cargo demand? |              What impact has Amazons investment in air cargo had on the industry?             | 0.954826 |
|       What impact has the rebound in air travel had on air cargo rates?       | What has been the impact of reduced economic growth and consumer spending on air cargo rates? | 0.952368 |
|       What impact has the rebound in air travel had on air cargo rates?       | What has been the impact of reduced economic growth and consumer spending on air cargo rates? | 0.952368 |
|       What impact has the rebound in air travel had on air cargo rates?       | What has been the impact of reduced economic growth and consumer spending on air cargo rates? | 0.952368 |
+-------------------------------------------------------------------------------+-----------------------------------------------------------------------------------------------+----------+

In [751]:
%%sql
# Which date time had the highest trading volume for Amazon stock?
SELECT created_at, MAX(volume) FROM stock_table WHERE ticker = 'AMZN'

+---------------------+-------------+
|      created_at     | MAX(volume) |
+---------------------+-------------+
| 2022-02-01 17:42:00 |  158453380  |
+---------------------+-------------+

In [817]:
%%sql
# In the embeddings table, which rows are from the chatbot?
SELECT category, question, answer FROM embeddings WHERE category = 'chatbot';

+----------+--------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| category |                                          question                                          |                                                                                                                                              answer                                                                                                                                              |
+----------+--------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
| chatbot  |                How many distinct stock tickers are there and what are they?                |                                                                                                                    There are 3 distinct stock tickers: AMZN, MSFT, and GOOG.                                                                                                                     |
|          |                                                                                            |                                                                                                            SQL Query used to get the Answer: SELECT DISTINCT ticker FROM stock_table                                                                                                             |
| chatbot  |       How many rows from the embeddings table are from the category called chatbot?        |                                                                                                           There are 8 rows from the embeddings table from the category called chatbot.                                                                                                           |
|          |                                                                                            |                                                                                                   SQL Query used to get the Answer: SELECT COUNT(*) FROM embeddings WHERE category = chatbot;                                                                                                    |
| chatbot  |                    How many stock tickers are there and what are they?                     |                                                                                                                            There are 3 tickers: AMZN, MSFT, and AAPL.                                                                                                                            |
|          |                                                                                            |                                                                                SQL Query used to get the Answer: SELECT COUNT(DISTINCT ticker) as num_tickers, GROUP_CONCAT(ticker) as tickers FROM stock_table;                                                                                 |
| chatbot  |     what are the most similar questions in the embeddings table, not including itself?     |                                                                                                         The most similar questions in the embeddings table, not including itself, are:                                                                                                           |
|          |                                                                                            |                                                                    1. What impact has Amazons decision to curtail expenses had on air cargo demand? and What impact has Amazons investment in air cargo had on the industry?                                                                     |
|          |                                                                                            |                                                                    2. What impact has Amazons investment in air cargo had on the industry? and What impact has Amazons decision to curtail expenses had on air cargo demand?                                                                     |
|          |                                                                                            |                                                             3. What has been the impact of reduced economic growth and consumer spending on air cargo rates? and What impact has the rebound in air travel had on air cargo rates?                                                               |
|          |                                                                                            |                                                             4. What impact has the rebound in air travel had on air cargo rates? and What has been the impact of reduced economic growth and consumer spending on air cargo rates?                                                               |
|          |                                                                                            |                                                             5. What impact has the rebound in air travel had on air cargo rates? and What has been the impact of reduced economic growth and consumer spending on air cargo rates?                                                               |
|          |                                                                                            |                                                                                                                                                                                                                                                                                                  |
|          |                                                                                            |                                                                      SQL Query used to get the Answer: SELECT q1.question as question1, q2.question as question2, DOT_PRODUCT(q1.question_embedding, q2.question_embedding)                                                                      |
| chatbot  |           How many rows from the embeddings table are from the chatbot category?           |                                                                                                              There are 9 rows from the embeddings table from the chatbot category.                                                                                                               |
|          |                                                                                            |                                                                                                   SQL Query used to get the Answer: SELECT COUNT(*) FROM embeddings WHERE category = chatbot;                                                                                                    |
| chatbot  |              Which datetime had the highest trading volume for Amazon stock?               |                                                                                                        The datetime with the highest trading volume for Amazon stock is 2012-05-16 08:08.                                                                                                        |
|          |                                                                                            |                                                                                              SQL Query used to get the Answer: SELECT created_at, MAX(volume) FROM stock_table WHERE ticker = AMZN                                                                                               |
| chatbot  | What date time had the highest price for Amazon stock? When was it and what was the price? |                                                                                                          The highest price for Amazon stock was 188.654 on July 13th, 2021 at 10:35am.                                                                                                           |
|          |                                                                                            |                                                                                    SQL Query used to get the Answer: SELECT created_at, high FROM stock_table WHERE ticker = AMZN ORDER BY high DESC LIMIT 1;                                                                                    |
| chatbot  |              Which datetime had the highest trading volume for Amazon stock?               |                                                                                                        The datetime with the highest trading volume for Amazon stock is 2017-09-14 14:55.                                                                                                        |
|          |                                                                                            |                                                                                                                                                                                                                                                                                                  |
|          |                                                                                            |                                                                                              SQL Query used to get the Answer: SELECT created_at, MAX(volume) FROM stock_table WHERE ticker = AMZN                                                                                               |
| chatbot  |                                   Describe the database.                                   | The database contains two tables, embeddings and stock_table. The embeddings table contains columns for id, category, question, question_embedding, answer, answer_embedding, and created_at. The stock_table table contains columns for ticker, created_at, open, high, low, close, and volume. |
|          |                                                                                            |                                                                                                                                                                                                                                                                                                  |
|          |                                                                                            |                                                                                                                              SQL Query used to get the Answer: N/A                                                                                                                               |
| chatbot  |                           How many rows are in the stock table?                            |                                                                                                                            There are 6079529 rows in the stock table.                                                                                                                            |
|          |                                                                                            |                                                                                                                SQL Query used to get the Answer: SELECT COUNT(*) FROM stock_table                                                                                                                |
+----------+--------------------------------------------------------------------------------------------+--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

<a name="voice_recognition"></a>
- [Back to Contents](#contents)
# Step 5: UI - Voice recognition to sql queries

- Create a File on your local machine to use it's microphone.  
- Create a python script and paste the following code, then run the python script on your terminal:

```python
from datetime import datetime
import os
import singlestoredb as s2
import pyaudio
import wave
import json
import pandas as pd
import numpy as np
import openai
import tkinter as tk
import tkinter.ttk as ttk
from tkinter import Canvas
from tkinter import Label
from sqlalchemy import create_engine
from langchain.agents import create_sql_agent
from langchain.agents.agent_toolkits import SQLDatabaseToolkit
from langchain.sql_database import SQLDatabase
from langchain.llms.openai import OpenAI
from langchain.agents import AgentExecutor
from apikey import apikey

# replace apikey with your Openai key
os.environ["OPENAI_API_KEY"] = apikey
openai.api_key = os.environ["OPENAI_API_KEY"]

# Update your SingleStore host credentials
user = 'admin'
password = 'Password123!'
host = 'svc-39644b79-076a-44e6-8b7f-d6415f18d4c8-dml.aws-virginia-6.svc.singlestore.com'
port = 3306
database = 'ai_demo'
table_name = 'embeddings' # table where the chatbot embeddings will be stored
model = 'text-embedding-ada-002'


# Create the agent executor
db = SQLDatabase.from_uri(f"mysql+pymysql://{user}:{password}@{host}:{port}/{database}", include_tables=['embeddings', 'stock_table'], sample_rows_in_table_info=1)  # update the include_tables to only have the tables you want the chatbot to see

llm = OpenAI(openai_api_key=os.environ["OPENAI_API_KEY"], temperature=0, verbose=True)
toolkit = SQLDatabaseToolkit(db=db, llm=llm)

agent_executor = create_sql_agent(
    llm=OpenAI(temperature=0),
    toolkit=toolkit,
    verbose=True,
    prefix= '''
    You are an agent designed to interact with a SQL database called SingleStore. This sometimes has Shard and Sort keys in the table schemas, which you can ignore. 
    \nGiven an input question, create a syntactically correct MySQL query to run, then look at the results of the query and return the answer. 
    \n If you are asked about similarity questions, you should use the DOT_PRODUCT function.
    
    \nHere are a few examples of how to use the DOT_PRODUCT function:
    \nExample 1:
    Q: how similar are the questions and answers?
    A: The query used to find this is:
    
        select question, answer, dot_product(question_embedding, answer_embedding) as similarity from embeddings;
        
    \nExample 2:
    Q: What are the most similar questions in the embeddings table, not including itself?
    A: The query used to find this answer is:
    
        SELECT q1.question as question1, q2.question as question2, DOT_PRODUCT(q1.question_embedding, q2.question_embedding) :> float as score
        FROM embeddings q1, embeddings q2 
        WHERE question1 != question2 
        ORDER BY score DESC LIMIT 5;
        
    \nUnless the user specifies a specific number of examples they wish to obtain, always limit your query to at most {top_k} results.
    \n The question embeddings and answer embeddings are very long, so do not show them unless specifically asked to.
    \nYou can order the results by a relevant column to return the most interesting examples in the database.
    \nNever query for all the columns from a specific table, only ask for the relevant columns given the question.
    \nYou have access to tools for interacting with the database.\nOnly use the below tools. 
    Only use the information returned by the below tools to construct your final answer.
    \nYou MUST double check your query before executing it. If you get an error while executing a query, rewrite the query and try again up to 3 times.
    \n\nDO NOT make any DML statements (INSERT, UPDATE, DELETE, DROP etc.) to the database.
    \n\nIf the question does not seem related to the database, just return "I don\'t know" as the answer.\n,
    
    ''',
    format_instructions='''Use the following format:\n
    \nQuestion: the input question you must answer
    \nThought: you should always think about what to do
    \nAction: the action to take, should be one of [{tool_names}]
    \nAction Input: the input to the action
    \nObservation: the result of the action
    \n... (this Thought/Action/Action Input/Observation can repeat 10 times)
    \nThought: I now know the final answer
    \nFinal Answer: the final answer to the original input question\n
    \n\nSQL Query used to get the Answer: the final sql query used for the final answer',
    ''',
    top_k=5,
    max_iterations=10
)

# Create the UI window
root = tk.Tk()
root.geometry("500x380")
root.title("Chat with your SingleStore Data")

# Labels
name = Label(root, text="Question").place(x=20,y=20)
response = Label(root, text="Chatbot response").place(x=20,y=160)

# Create the text entry widget
entry = ttk.Entry(root, font=("Arial", 14))
entry.pack(padx=20, pady=50, fill=tk.X)
entry.insert(0, f"Enter your database {database} question here")

# get embedding functions
def get_embedding(text, model=model):
   text = text.replace("\n", " ")
   return openai.Embedding.create(input = [text], model=model)['data'][0]['embedding']

def insert_embedding(question):
    category = 'chatbot'
    question_embedding = get_embedding(question, model=model)
    answer = agent_executor.run(question)
    answer_embedding = get_embedding(answer, model=model)
    created_at = datetime.now().strftime("%Y-%m-%d %H:%M:%S")

    # add questions and answer embeddings to a dataframe
    df = pd.DataFrame(columns=['category','question','question_embedding','answer', 'answer_embedding', 'created_at'])
    new_row = {'category':category, 'question':question, 'question_embedding':question_embedding,'answer':answer, 'answer_embedding':answer_embedding, 'created_at':created_at }
    df = df.append(new_row, ignore_index=True)
    # print(df['answer'])
    
    # send to SingleStore
    mystmt = "INSERT INTO {} (category, question, question_embedding, answer, answer_embedding, created_at) VALUES ('{}',\n'{}', \njson_array_pack('{}'), \n'{}', \njson_array_pack('{}'), \n'{}')"


    for i in range(len(df)):
        stmt = mystmt.format(table_name, df['category'][i],df['question'][i].replace("'",""), df['question_embedding'][i], df['answer'][i].replace("'",""), df['answer_embedding'][i], df['created_at'][i])
        
        
        # executable_stmt = text(stmt)
        engine = s2.connect(host=host, port=port, user=user, password=password, database=database)

        with engine:
            with engine.cursor() as cur:

                cur.execute(stmt)
                for row in cur.fetchall():
                    print(row)
                    cur.close()    

# Create the button callback
def on_click():
    # Get the query text from the entry widget
    query = entry.get()

    # Run the query using the agent executor
    result = agent_executor.run(query)

    # Display the result in the text widget
    text.delete("1.0", tk.END)
    text.insert(tk.END, result)

    # get result embedding
    result_embedding = get_embedding(result)
    insert_embedding(query)

# Create the clear button callback
def clear_text():
    text.delete("1.0", tk.END)

    # Clear the entry widget
    entry.delete(0, tk.END)
    entry.insert(0, f"Enter your quesion on database: {database}")

# Create noise gate
def apply_noise_gate(audio_data, threshold):
    # Calculate the root mean square (RMS) of the audio data
    valid_data = np.nan_to_num(audio_data, nan=0.0)

    # valid_data = ...  # Your valid data here

    # Compute the square of valid_data
    squared_data = np.square(valid_data)

    # Check for negative or invalid values
    invalid_indices = np.isnan(squared_data) | (squared_data < 0)

    # Set negative or invalid values to 0
    squared_data[invalid_indices] = 0

    # Compute the mean of squared_data
    mean_squared = np.mean(squared_data)

    # Compute the root mean square (RMS)
    rms = np.sqrt(mean_squared)

    # Check if the RMS value is a valid number
    if np.isnan(rms):
        return audio_data
    
    # If RMS is below the threshold, set all samples to zero
    if rms < threshold:
        audio_data = np.zeros_like(audio_data)

    return audio_data

# Create the mic button callback
def record_audio(output_file, sample_rate=44100, chunk_size=1024, audio_format=pyaudio.paInt16, channels=1, threshold=0.01):
    audio = pyaudio.PyAudio()

    print('say something') 
    # replace with beep?
    
    # Open the microphone stream
    stream = audio.open(format=audio_format,
                        channels=channels,
                        rate=sample_rate,
                        input=True,
                        frames_per_buffer=chunk_size)

    frames = []
    silence_frames = 0
    silence_threshold = 80.01  # Adjust this value according to your environment

    # Record audio until there is 2 seconds of silence
    while True:
        data = stream.read(chunk_size)
        frames.append(data)

        # Convert data to numpy array for analysis
        audio_data = np.frombuffer(data, dtype=np.int16)

        # Apply noise gate to reduce background noise
        audio_data = apply_noise_gate(audio_data, threshold)

        # Check if the audio is silent (below the threshold)
        if np.max(np.abs(audio_data)) < silence_threshold:
            silence_frames += 1
        else:
            silence_frames = 0

        # Break the loop if there is 2 seconds of silence
        if silence_frames / (sample_rate / chunk_size) >= 2:
            break

    # Stop and close the stream
    stream.stop_stream()
    stream.close()
    audio.terminate()

    # Save the recorded audio as a WAV file
    wave_file = wave.open(output_file, 'wb')
    wave_file.setnchannels(channels)
    wave_file.setsampwidth(audio.get_sample_size(audio_format))
    wave_file.setframerate(sample_rate)
    wave_file.writeframes(b''.join(frames))
    wave_file.close()

def transcribe_mic():
    # Usage
    output_file = 'recording.wav'
    record_audio(output_file)
    print(f"Recording saved as {output_file}")

    audio_file= open("recording.wav", "rb")
    
    transcript = openai.Audio.transcribe("whisper-1", audio_file)

    entry.delete(0,tk.END)
    entry.insert(0, transcript["text"])

    on_click()

def mic_button_actions():
    ttk.Button(root, text="Mic", command=transcribe_mic).place(x=30, y=100)
    new_embedding = get_embedding(transcript)
    print(new_embedding)

# Create the mic button widget

mic_button = ttk.Button(root, text="Mic", command=transcribe_mic).place(x=30, y=100)

# Create the button widget
button = ttk.Button(root, text="Chat", command=on_click).place(x=150, y=100)

# Create the clear button widget
clear_button = ttk.Button(root, text="Reset", command=clear_text).place(x=270, y=100)

# Create the text widget to display the result
text = tk.Text(root, height=10, width=60, font=("Arial", 14))
text.pack(side=tk.BOTTOM, padx=20, pady=20)

# Start the UI event loop
root.mainloop()
```

<a name="conclusion"></a>
- [Back to Contents](#contents)
# Conclusion:
- ### Development Environment using SingleStore Notebooks
- ### Connected to JSON stock data from Mongo Atlas using SingleStore Kai api query tests
- ### JSON news articles chunked, summarized and sent to SingleStore
- ### Built QA chatbot with Openai
- ### Store Embeddings for the future
- ### Use SQL on vector data and filter based on metadata
- ### Langchain database connection to query SingleStore and use of vector functions
- ### All your data in one place

# Reset chatbot embeddings

In [867]:
%%sql
# reset chatbot embeddings
delete from embeddings where category = 'chatbot'

In [868]:
%%sql
select id, category, question from embeddings where category='chatbot'

+----+----------+----------+
| id | category | question |
+----+----------+----------+
+----+----------+----------+